<footer class="bg-yale pb-4">
  <div class="container">
    <div class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand pt-3" href="http://www.yale.edu">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="65px" height="55px">
          <defs>
            <symbol id="yale-logo">
              <path
                d="M19.5,7.4l-5.9,10v6.7c0.7,1.6,2.4,1.8,4.1,1.9V27H6v-0.9c1.7-0.1,3.7-0.3,4.2-1.4v-6.9l-6-10.2C3.1,5.8,2.1,5.2,0.1,5V4.1   h10.1V5C8.3,5.2,7.7,5.5,7.2,5.9l5.6,9.7L18.3,6C17.7,5.5,16.9,5.2,15,5V4.1h8.6V5C21.7,5.1,20.5,5.8,19.5,7.4z M31.3,27.3   c-1.9,0-2.9-1.3-3-2.3c-1.2,1.3-2.8,2.3-4.3,2.3c-1.9,0-3.6-1.2-3.6-3.2c0-1,0.3-2.1,0.8-2.9l7.2-2.6v-2.7c0-1.6-0.8-3.2-2.4-3.2   c-1,0-1.9,1.2-2,3l-3.2,0.5V16c1.1-3.2,4.6-4.5,6.4-4.5c3.3,0,4.5,1.7,4.4,4.4l-0.1,7.6c0,1.5,0.8,1.8,1.5,1.8c0.6,0,1.2-0.4,1.8-1   v1C34,26.2,32.6,27.3,31.3,27.3z M24.1,21.5c-0.1,0.6-0.3,1.1-0.3,1.9c0,1.1,0.6,2.2,1.8,2.2c1.1,0,1.7-0.4,2.7-1.1l0-4.9   C27.4,19.9,25.1,21,24.1,21.5z M35.1,27v-0.8c1.6-0.1,2.1-0.5,2.4-1.1V6.4c0-1.2-0.2-1.7-2.7-1.9V3.8l6.6-1.7l0.2,0.6l-1,1.3v21.1   c0.4,0.7,1,1,2.5,1.1V27H35.1z M51.7,27.3c-3.8,0-6.7-3-6.7-7.2c0-5.1,3.1-8.6,7.6-8.6c3.6,0,5.5,2,5.5,5.2v0.6l-9.7-0.1   c-0.1,0.4-0.1,1-0.1,1.8c0,3.7,2.3,6.1,5.4,6.1c1.8,0,2.8-0.6,4.2-1.9l0.5,0.8C56.4,26.1,54.7,27.3,51.7,27.3z M52,12.6   c-1.8,0-3.1,1.4-3.5,3.7l6.3-0.1C54.9,14.4,53.7,12.6,52,12.6z" />
            </symbol>
          </defs>

          <use xlink:href="#yale-logo" x="0" y="0" fill="#ffffff" />
        </svg>
        <span class="sr-only">Yale</span></a>
      <nav aria-label="secondary">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link small" href="https://usability.yale.edu/">Usability at Yale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link small"
              href="https://usability.yale.edu/web-accessibility/accessibility-yale">Accessibility at Yale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link small" href="http://www.yale.edu/privacy-policy">Privacy
              Policy</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="navbar mt-0 pt-0">
      <div class="small">Copyright <span aria-hidden="true">&copy;</span> 2020 Yale University All rights
        reserved
      </div>
    </div>
</footer>