<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{site.title}}</title>
  <meta name="description" content="Yale University's component library based on Bootstrap. Get your application up and running quickly with Yale-branded, accessible components.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155740499-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155740499-1');
</script>

  <!-- Bootstrap 4 -->
  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
 
  <link rel="stylesheet" href="{{ '/assets/css/yale-ui-docs.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/yale-ui-docs-fonts.css' | relative_url }}">
  
  <script src="https://use.fontawesome.com/515a2135e3.js"></script>

</head>