<header class="bg-white">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <a href="#main-content"
              class="sr-only sr-only-focusable text-decoration-none sans-caps text-dark h5 p-3 d-inline-block"
              style="color: black; background-color: white;">
              Skip to main</a>
              <div class="d-lg-block d-xs-none d-sm-none d-med-none">
              {% if page.sidebar == "components" and page.url !="/components" %}
              <a href="#component-nav"
                class="sr-only sr-only-focusable text-decoration-none sans-caps text-dark h5 p-3 d-inline-block"
                style="color: black; background-color: white;">
                Skip to component nav</a>
                {% endif %}
                </div>
                <div class="d-lg-none">
                  {% if page.sidebar == "components" and page.url !="/components" %}
                  <a href="#components"
                    class="sr-only sr-only-focusable text-decoration-none sans-caps text-dark h5 p-3 d-inline-block"
                    style="color: black; background-color: white;">
                    Skip to component nav</a>
                    {% endif %}
                    </div>
          </div> <!-- text-center -->
        </div> <!-- end column -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  
    <div class="container-fluid bg-yale">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav aria-label="primary">
              <div class="navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand mr-auto text-font-family-yale text-decoration-none"
                  href="{{ '/' | relative_url }}">Yale
                  UI</a>
  
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMainNav" aria-expanded="false">
                  <!-- <span class="navbar-toggler-icon mr-2"></span> -->
                  <span class="sans-caps small">Menu</span></button>
                <button class="navbar-toggler ml-2" data-toggle="collapse" data-target="#search" aria-expanded="false">
                  <span class="fa fa-search"></span><span class="sr-only">Search</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMainNav">
                  <ul class="navbar-nav ml-md-2">
                    {% for item in site.data.navigation %}
                    <li class="nav-item">
                      <a class="nav-link text-decoration-none small{% if item.link == page.url %} active{% endif %}"
                        {% if item.link == page.url %} aria-current="page" {% endif %}
                        href="{{ item.link | relative_url }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
  
                  </ul>
                </div>
                <div class="collapse navbar-collapse" id="search">
                  <form style="min-width: 200px" role="search" action="/ui-component-library/search" method="get"
                    class="mt-2">
                    <label style="color: white;" for="search-input" class="sr-only">Search</label>
                    <div class="form-row">
                      <div class="form-group col-8">
                        <input type="text" id="search-input" name="query" class="form-control form-control-sm">
                      </div>
                      <div class="form-group col-1" style="margin-left: -5px;">
                        <button type="submit" class="btn btn-primary btn-sm">Search</button>
                      </div>
                    </div>
                  </form>
                </div> <!-- end search -->
            </nav> <!-- end nav -->
          </div> <!-- end column -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end fluid container -->
  
    {% if page.sidebar == "components" and page.url !="/components" %}
    <div class="d-lg-none container">
      <div class="row w-100 pb-2 mt-2">
        <div class="col-12">
          <div class="text-center">
            <form class="input-group" name="components" onsubmit="return redirectTo()">
              <label class="sr-only" for="components">Components</label>
              <select class="custom-select" id="components">
                <option selected value="{{ '/components' | relative_url }}">Choose a Component</option>
                {% for component in site.components %}
                <option value="{{component.permalink | relative_url}}">
                  {{ component.title }}
                </option>
                {% endfor %}
              </select>
              <div class="input-group-append">
                <input type="submit" value="Go" class="btn btn-secondary">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </header>