//
// Base styles
//

.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border-left: solid 10px;
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: $close-font-size + $alert-padding-x * 2;

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.
// @each $color, $value in $theme-colors {
//   .alert-#{$color} {
//     @include accessible-alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
//   }
// }

.alert-yale {
  color: #001c38;
  background-color: #ccd7e1;
  border-color: #001c38;
}
.alert-yale hr {
  border-top-color: #727981;
}
.alert-yale .alert-link,
.alert-yale a {
  color: #000305;
}

.alert-primary {
  color: #153964;
  background-color: #d4e2f2;
  border-color: #153964;
}
.alert-primary hr {
  border-top-color: #77818c;
}
.alert-primary .alert-link,
.alert-primary a {
  color: #0c213a;
}

.alert-secondary {
  color: #7c6e6a;
  background-color: #f8f8f8;
  border-color: #978d85;
}
.alert-secondary hr {
  border-top-color: #909090;
}
.alert-secondary .alert-link,
.alert-secondary a {
  color: #7c6e6a;
}

.alert-success {
  color: #2c521a;
  background-color: #dfe3d5;
  border-color: #2c521a;
}
.alert-success hr {
  border-top-color: #7f8178;
}
.alert-success .alert-link,
.alert-success a {
  color: #131609;
}
.alert-success h3.alert-heading:before {
  content: '\f058';
  font-family: FontAwesome;
  margin-right: 10px;
}

.alert-info {
  color: #1a559c;
  background-color: #d4e2f2;
  border-color: #1a559c;
}
.alert-info hr {
  border-top-color: #77818c;
}
.alert-info .alert-link,
.alert-info a {
  color: #0c213a;
}
.alert-info h3.alert-heading:before {
  content: '\f05a';
  font-family: FontAwesome;
  margin-right: 10px;
}

.alert-warning {
  color: #915000;
  background-color: #f2ddd1;
  border-color: #915000;
}
.alert-warning hr {
  border-top-color: #8c7d75;
}
.alert-warning .alert-link,
.alert-warning a {
  color: #351707;
}
.alert-warning h3.alert-heading:before {
  content: '\f071';
  font-family: FontAwesome;
  margin-right: 10px;
}

.alert-danger {
  color: #993333;
  background-color: #e4d1d1;
  border-color: #993333;
}
.alert-danger hr {
  border-top-color: #837575;
}
.alert-danger .alert-link,
.alert-danger a {
  color: #993333;
}
.alert-danger h3.alert-heading:before {
  content: '\f06a';
  font-family: FontAwesome;
  margin-right: 10px;
}

.alert-light {
  color: #747474;
  background-color: #fcfcfc;
  border-color: 747474;
}
.alert-light hr {
  border-top-color: #929292;
}
.alert-light .alert-link,
.alert-light a {
  color: #636262;
}

.alert-dark {
  color: #121212;
  background-color: lightgray;
  border-color: #121212;
}
.alert-dark hr {
  border-top-color: #767676;
}
.alert-dark .alert-link,
.alert-dark a {
  color: black;
}
