@import 'bootstrap/scss/breadcrumb';

.breadcrumb {
  word-spacing: $breadcrumb-word-spacing;
  margin-top: $breadcrumb-margin-top;
}

.breadcrumb-item {
  font-family: $breadcrumb-item-font-family;
  line-height: $breadcrumb-item-line-height;
  font-size: $breadcrumb-item-font-size;
  text-transform: $breadcrumb-item-text-transform;

  &::before {
    padding-right: $breadcrumb-item-padding;
  }

  + .breadcrumb-item {
    &::before {
      color: find-accessible-color(
        $breadcrumb-divider-color,
        $breadcrumb-bg,
        3
      );
    }
  }

  &.active {
    color: find-accessible-color($breadcrumb-active-color, $breadcrumb-bg, 4.5);
  }

  a {
    color: find-accessible-color($breadcrumb-link-color, $breadcrumb-bg, 4.5);
  }
}
