@import 'bootstrap/scss/carousel';

.carousel-control-prev > button,
.carousel-control-next > button {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1rem;
  border: none;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.75);
}

.carousel-control-prev > button:focus,
.carousel-control-next > button:focus {
  outline: 2px solid white;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}
