@import 'bootstrap/scss/dropdown';

.dropdown-menu {
  color: find-accessible-color($dropdown-color, $dropdown-bg, 4.5);
}

.dropdown-item {
  color: find-accessible-color($dropdown-link-color, $dropdown-bg, 4.5);

  @include hover-focus {
    color: find-accessible-color(
      $dropdown-link-hover-color,
      $dropdown-link-hover-bg,
      4.5
    );
  }

  &.active,
  &:active {
    color: find-accessible-color(
      $dropdown-link-active-color,
      $dropdown-link-active-bg,
      4.5
    );
  }
}

// Dropdown section headers
.dropdown-header {
  color: find-accessible-color($dropdown-header-color, $dropdown-bg, 4.5);
}

// Dropdown text
.dropdown-item-text {
  color: find-accessible-color($dropdown-link-color, $dropdown-bg, 4.5);
}
