// not importing because we don't want animated progress bars
//@import "bootstrap/scss/progress";

@if $enable-transitions {
  @keyframes progress-bar-stripes {
    from {
      background-position: $progress-height 0;
    }
    to {
      background-position: 0 0;
    }
  }
}

.progress {
  display: flex;
  height: $progress-height;
  border: $progress-border;
  overflow: hidden; // force rounded corners by cropping it
  @include font-size($progress-font-size);
  background-color: $progress-bg;
  @include border-radius($progress-border-radius);
  @include box-shadow($progress-box-shadow);
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: find-accessible-color($progress-bar-color, $progress-bar-bg, 4.5);
  text-align: center;
  white-space: nowrap;
  background-color: $progress-bar-bg;
  @include transition($progress-bar-transition);
}

.progress-bar-striped {
  @include gradient-striped();
  background-size: $progress-height $progress-height;
}
