/* Yale Footer */

footer.yale-footer {
  background: $yale-footer-background;
  color: find-accessible-color($yale-footer-color, $yale-footer-background);
}

.footer-logo {
  font-size: $yale-footer-logo-font-size;
  padding: $yale-footer-logo-padding-y 0;
}

.footer-logo a {
  color: inherit;
  text-decoration: none;
}
