@import "src/scss/main";

.main-container {
  min-height: 90vh;
}


//the following selectors are not being used:

// .main-nav {
//   background-color: $gray-shade;
//   line-height: 2.2
// }

// .main-nav a {
//   padding: 14px 16px;
//   text-decoration: none;
//   font-family: $font-family-mallory-semi;
// }

// .main-nav a:first-of-type {
//   margin-left: -14px;
// }
