@import 'bootstrap/scss/reboot';

// Webkit Font SSmoothing
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  transition: color 0.25s;
}

legend {
  font-family: $input-label-font-family;
  font-size: $font-size-base;
  @include media-breakpoint-up('md') {
    font-size: $font-size-base-md-up;
  }
  margin-bottom: $label-margin-bottom;
}

a {
  color: find-accessible-color($link-color, $body-bg);

  @include hover-focus {
    color: find-accessible-color($link-hover-color, $body-bg);
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    outline: 2px solid;
    outline-offset: 2px;
  }
}

button {
  &:focus {
    outline: 2px solid;
  }

  .js-focus-visible :focus:not(.focus-visible) {
    outline: none;
  }
}
