@import 'bootstrap/scss/type';

body {
  font-size: $font-size-base;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: find-accessible-color($body-color, $body-bg);

  @include media-breakpoint-up('md') {
    font-size: $font-size-base-md-up;
  }
}

caption {
  color: find-accessible-color($table-caption-color, $body-bg);
}

h1,
.h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  font-weight: $h1-font-weight;
  color: find-accessible-color($h1-color, $body-bg, 4.5);
  font-family: $h1-font-family;
  margin-top: $h1-margin-top;
  margin-bottom: $h1-margin-bottom;

  @include media-breakpoint-up('md') {
    font-size: $h1-font-size-md-up;
  }
}

h2,
.h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  font-weight: $h2-font-weight;
  color: find-accessible-color($h2-color, $body-bg, 4.5);
  font-family: $h2-font-family;
  margin-top: $h2-margin-top;
  margin-bottom: $h2-margin-bottom;

  @include media-breakpoint-up('md') {
    font-size: $h2-font-size-md-up;
  }
}

h3,
.h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  font-weight: $h3-font-weight;
  color: find-accessible-color($h3-color, $body-bg, 4.5);
  font-family: $h3-font-family;
  margin-top: $h3-margin-top;
  margin-bottom: $h3-margin-bottom;

  @include media-breakpoint-up('md') {
    font-size: $h3-font-size-md-up;
  }
}

h4,
.h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  font-weight: $h4-font-weight;
  color: find-accessible-color($h4-color, $body-bg, 4.5);
  font-family: $h4-font-family;
  margin-top: $h4-margin-top;
  margin-bottom: $h4-margin-bottom;

  @include media-breakpoint-up('md') {
    font-size: $h4-font-size-md-up;
  }
}

h5,
.h5 {
  font-size: $h5-font-size;
  line-height: $h5-line-height;
  font-weight: $h5-font-weight;
  color: find-accessible-color($h5-color, $body-bg, 4.5);
  font-family: $h5-font-family;
  margin-top: $h5-margin-top;
  margin-bottom: $h5-margin-bottom;
  letter-spacing: $h5-letter-spacing;
  word-spacing: $h5-word-spacing;
  text-transform: $h5-text-transform;

  @include media-breakpoint-up('md') {
    font-size: $h5-font-size-md-up;
  }
}

h6,
.h6 {
  font-size: $h6-font-size;
  line-height: $h6-line-height;
  font-weight: $h6-font-weight;
  color: find-accessible-color($h6-color, $body-bg, 4.5);
  font-family: $h6-font-family;
  margin-top: $h6-margin-top;
  margin-bottom: $h6-margin-bottom;
  letter-spacing: $h6-letter-spacing;
  word-spacing: $h6-word-spacing;
  text-transform: $h6-text-transform;

  @include media-breakpoint-up('md') {
    font-size: $h6-font-size-md-up;
  }
}

hr {
  border-top-color: find-accessible-color($hr-border-color, $body-bg, 3);
}

.lead {
  font-size: $lead-font-size;
  font-family: $lead-font-family;
  font-weight: $lead-font-weight;
  @include media-breakpoint-up('md') {
    font-size: $lead-font-size-md-up;
  }
}

blockquote,
.blockquote {
  font-family: $blockquote-font-family;
  font-size: $blockquote-font-size;
  line-height: $blockquote-line-height;
  letter-spacing: $blockquote-letter-spacing;
  margin: $blockquote-margin-y 0;
  padding: $blockquote-padding;
  border: $blockquote-border-width solid $blockquote-border-color;

  @include media-breakpoint-up('lg') {
    font-size: $blockquote-font-size-lg-up;
    margin: $blockquote-margin-y-lg-up 0;
    padding: $blockquote-padding-lg-up;
  }

  @include media-breakpoint-up('xl') {
    pading: $blockquote-padding-xl-up;
  }
}

.blockquote-footer {
  display: block;
  @include font-size($blockquote-small-font-size);
  color: find-accessible-color($blockquote-small-color, $body-bg, 4.5);
  font-size: $blockquote-small-font-size;
  line-height: $blockquote-small-line-height;
  font-family: $blockquote-small-font-family;
  font-weight: $blockquote-small-font-weight;
  letter-spacing: $blockquote-small-letter-spacing;
  word-spacing: $blockquote-small-word-spacing;
  text-transform: $blockquote-small-text-transform;
  text-align: $blockquote-small-text-align;

  &::before {
    content: '\2014\00A0'; // em dash, nbsp
  }
}
