---
layout: no_sidebar
title: Examples
permalink: /examples
---

<h2>Overview</h2>
<p>Sample layouts to get started quickly.</p>

<h2 id="layouts">Sample Layouts</h2>
<hr />
<div class="row">
    <div class="col-6">
        <div class="card mb-4 shadow-sm">
            <img src="{{ '/assets/img/sample-layout-1-thumbnail.png' | relative_url }}" alt="">

            <div class="card-body">
                <hr>
                <h2 class="card-title" id="headingOne">Resource Page with Cards</h2>
                <p class="card-text">This layout uses Cards and the Bootstrap grid system to organize a landing page of
                    resources where the resources are link to other sites.</p>

                <a href="{{ '/sample-layout-1' | relative_url }}"
                    class="btn btn-sm btn-outline-secondary stretched-link">View<span class="sr-only"
                        aria-labelledby="headingOne"></span></a>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card mb-4 shadow-sm">

            <img src="{{ '/assets/img/samplecards_thumbnail.png' | relative_url }}" class="d-block w-100" alt="">

            <div class="card-body">
                <hr>
                <h2 class="card-title" id="headingOne">Layout with Cards</h2>
                <p class="card-text">This layout uses Card and Jumbotron components, as well as the grid system and
                    fluid containers for the header and footer.</p>

                <a href="{{ '/sample-cards-fluid-layout' | relative_url }}"
                    class="btn btn-sm btn-outline-secondary stretched-link">View<span class="sr-only"
                        aria-labelledby="headingOne"></span></a>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card mb-4 shadow-sm">
            <img src="{{ '/assets/img/samplejumbotron_thumbnail.png' | relative_url }}" alt="">

            <div class="card-body">
                <hr>
                <h2 class="card-title" id="headingOne">Layout with Jumbotron</h2>
                <p class="card-text">This layout uses the Jumbotron component along with a header and footer, as well as
                    the grid system and containers.</p>

                <a href="{{ '/sample-jumbotron-layout' | relative_url }}"
                    class="btn btn-sm btn-outline-secondary stretched-link">View<span class="sr-only"
                        aria-labelledby="headingOne"></span></a>

            </div>
        </div>
    </div>

    <!-- <div class="col-6">
        <div class="card mb-4 shadow-sm">

            <img src="{{ '/assets/img/samplecards_thumbnail.png' | relative_url }}" class="d-block w-100" alt="">

            <div class="card-body">
                <h2 class="card-title" id="headingOne">Layout with Cards</h2>
                <p class="card-text">This layout uses Card and Jumbotron components, as well as the grid system and
                    fluid containers for the header and footer.</p>

                <a href="{{ '/sample-cards-fluid-layout' | relative_url }}"
                    class="btn btn-sm btn-outline-secondary stretched-link">View<span class="sr-only"
                        aria-labelledby="headingOne"></span></a>

            </div>
        </div>
    </div> -->
</div>