---
layout: blank_page
title: Jumbotron Container Layout
permalink: /sample-jumbotron-layout
---


  <!-- Header -->
  <header class="bg-yale">
  
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="text-center"><a href="#main-content"
                class="sr-only sr-only-focusable text-decoration-none sans-caps h5 p-3 d-inline-block">Skip to
                main</a></div>
          </div>
        </div>
      </div>
    
  
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav aria-label="primary">
            <div class="navbar navbar-expand-md navbar-dark">
              <a class="navbar-brand text-font-family-yale text-decoration-none" href="{{ '/' | relative_url }}">Yale
                Unit</a>
            
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMainNav"><span
                    class="navbar-toggler-icon mr-2"></span><span class="sans-caps small">Menu</span></button>
                <div class="collapse navbar-collapse" id="navbarMainNav">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link text-decoration-none small" href="#">Link 1</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-decoration-none small" href="#">Link 2</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-decoration-none small" href="#">Link 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none small" href="#">Link 4</a>
                      </li>
                  </ul>
                 
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
   
  </header>
  <!-- Main Content -->
   <main id="main-content" tabindex="-1" class="pb-4 bg-white">
       
       <!-- Main jumbotron for a primary marketing message or call to action -->
       <div class="jumbotron">
        <div class="container">
          <h1 id="headingOne">Yale Unit</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
          </p>
          <p><a class="btn btn-yale btn-lg" href="">Learn more <span class="sr-only"
                aria-labelledby="headingOne"></span><span aria-hidden="true"> &raquo;</span></a></p>
                
        </div>
      </div>
  
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2 id="itemOne">Item 1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
              Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="">View details <span class="sr-only"
                  aria-labelledby="itemOne"></span><span aria-hidden="true"> &raquo;</span></a></p>
          </div>
          <div class="col-md-4">
            <h2 id="itemTwo">Item 2</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
              Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="">View details <span class="sr-only"
                  aria-labelledby="itemTwo"></span><span aria-hidden="true"> &raquo;</span></a></p>
          </div>
          <div class="col-md-4">
            <h2 id="itemThree">Item 3</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
              felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
              massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="">View details <span class="sr-only"
                  aria-labelledby="itemThree"></span><span aria-hidden="true"> &raquo;</span></a></p>
          </div>
        </div>
  
        <hr>
  
      </div> <!-- /container -->

     

</main>

  <!-- Footer -->

  <footer class="bg-yale pb-4">
    <div class="container">
      <div class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand pt-3" href="http://www.yale.edu">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="65px" height="55px">
            <defs>
              <symbol id="yale-logo">
                <path
                  d="M19.5,7.4l-5.9,10v6.7c0.7,1.6,2.4,1.8,4.1,1.9V27H6v-0.9c1.7-0.1,3.7-0.3,4.2-1.4v-6.9l-6-10.2C3.1,5.8,2.1,5.2,0.1,5V4.1   h10.1V5C8.3,5.2,7.7,5.5,7.2,5.9l5.6,9.7L18.3,6C17.7,5.5,16.9,5.2,15,5V4.1h8.6V5C21.7,5.1,20.5,5.8,19.5,7.4z M31.3,27.3   c-1.9,0-2.9-1.3-3-2.3c-1.2,1.3-2.8,2.3-4.3,2.3c-1.9,0-3.6-1.2-3.6-3.2c0-1,0.3-2.1,0.8-2.9l7.2-2.6v-2.7c0-1.6-0.8-3.2-2.4-3.2   c-1,0-1.9,1.2-2,3l-3.2,0.5V16c1.1-3.2,4.6-4.5,6.4-4.5c3.3,0,4.5,1.7,4.4,4.4l-0.1,7.6c0,1.5,0.8,1.8,1.5,1.8c0.6,0,1.2-0.4,1.8-1   v1C34,26.2,32.6,27.3,31.3,27.3z M24.1,21.5c-0.1,0.6-0.3,1.1-0.3,1.9c0,1.1,0.6,2.2,1.8,2.2c1.1,0,1.7-0.4,2.7-1.1l0-4.9   C27.4,19.9,25.1,21,24.1,21.5z M35.1,27v-0.8c1.6-0.1,2.1-0.5,2.4-1.1V6.4c0-1.2-0.2-1.7-2.7-1.9V3.8l6.6-1.7l0.2,0.6l-1,1.3v21.1   c0.4,0.7,1,1,2.5,1.1V27H35.1z M51.7,27.3c-3.8,0-6.7-3-6.7-7.2c0-5.1,3.1-8.6,7.6-8.6c3.6,0,5.5,2,5.5,5.2v0.6l-9.7-0.1   c-0.1,0.4-0.1,1-0.1,1.8c0,3.7,2.3,6.1,5.4,6.1c1.8,0,2.8-0.6,4.2-1.9l0.5,0.8C56.4,26.1,54.7,27.3,51.7,27.3z M52,12.6   c-1.8,0-3.1,1.4-3.5,3.7l6.3-0.1C54.9,14.4,53.7,12.6,52,12.6z" />
              </symbol>
            </defs>
            
            <use xlink:href="#yale-logo" x="0" y="0" fill="#ffffff" />
          </svg>
          <span class="sr-only">Yale</span></a>
        <nav aria-label="secondary">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link small"
                href="https://usability.yale.edu/web-accessibility/accessibility-yale">Accessibility at Yale</a>
            </li>
            <li class="nav-item">
              <a class="nav-link small" href="http://www.yale.edu/privacy-policy">Privacy
                Policy</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="navbar mt-0 pt-0">
        <div class="small">Copyright <span aria-hidden="true">&copy;</span> 2020 Yale University · All rights
          reserved
        </div>
      </div>
  </footer>