---
layout: blank_page
title: Cards Container Fluid Layout
permalink: /sample-layout-1
---
<style>
    .card-below .green {
        border-top: solid 1.25rem #5F712D !important;
    }
    .card-below .blue {
        border-top: solid 1.25rem #286DC0 !important;
    }
    .card-below .orange {
        border-top: solid 1.25rem #BD5319 !important;
    }
    .gray {
        border-left: solid 1.25rem #978d85 !important;
    }
</style>
<div class="container">
    <header class="container nav mt-3 mb-2 bg-yale"><a class="navbar-brand text-font-family-yale text-decoration-none"
            href="https://www.yale.edu">Yale University</a>
    </header>
</div>
<main class="bg-white text-dark">

    <div class="pt-4">
        <div class="container">
            <h1>University Resources</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Eget felis eget nunc lobortis. Fermentum et sollicitudin ac orci phasellus. Egestas
                maecenas pharetra convallis posuere morbi leo urna. Velit sed ullamcorper morbi tincidunt ornare massa
                eget egestas. Felis donec et odio pellentesque diam. Felis imperdiet proin fermentum leo vel orci porta
                non. Morbi quis commodo odio aenean sed adipiscing diam donec. Sed viverra ipsum nunc aliquet bibendum.
                Vulputate eu scelerisque felis imperdiet proin fermentum.
            </p>

            <div class="row pb-4 card-below">
                <div class="col-lg-4 mt-3">
                    <div class="card mb-4 text-center h-100 green">
                        <span class="fa fa-graduation-cap display-4 mt-4 text-success" aria-hidden="true"
                            style="font-size: 3.5rem;"></span>

                        <div class="card-body">
                            <h2 class="card-title text-success mt-0">Students</h2>
                            <p>Aliquam etiam erat velit scelerisque in dictum non consectetur. </p>
                            <p class="card-text"><a href="" class="stretched-link text-primary">Student Resources</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-3">
                    <div class="card mb-4 text-center h-100 blue">
                        <span class="fa fa-id-card-o display-4 mt-4 text-primary" aria-hidden="true"
                            style="font-size: 3.5rem;"></span>
                        <div class="card-body">
                            <h2 class="card-title text-primary mt-0">Employees</h2>
                            <p>Pretium viverra suspendisse potenti nullam ac tortor vitae purus. </p>
                            <p class="card-text"><a href="" class="stretched-link text-primary">Employee Resources</a>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-3">

                    <div class="card mb-4 text-center h-100 orange">

                        <span class="fa fa-university display-4 mt-4 text-warning" aria-hidden="true"
                            style="font-size: 3.5rem;"></span>
                        <div class="card-body">

                            <h2 class="card-title text-warning mt-0">Faculty</h2>
                            <p>Non blandit massa enim nec dui nunc mattis. At augue eget arcu dictum varius duis.
                            </p>
                            <p class="card-text"><a href="" class="stretched-link text-primary">Faculty Resources</a>
                            </p>
                        </div>
                    </div>

                </div>


            </div>
            <div class="row pb-4">
                <div class="col-lg-8 text-lg-left text-sm-center mt-3">

                    <div class="card mb-4 p-4 h-100 gray">
                        <div class="card-body">

                            <h2 class="card-title text-secondary mt-0">Everyone</h2>
                            <p>Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Sed sed
                                risus pretium quam vulputate dignissim suspendisse in.</p>
                            <p class="card-text"><a class="text-primary stretched-link" href="">Resources for
                                    Everyone</a></p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 mt-3 text-center">
                    <div class="fa fa-universal-access mt-4 text-primary" style="font-size: 15rem" aria-hidden="true">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="bg-white pt-4">
        <div class="container">
            <div class="row pb-4 pt-4" style="border-top: 1px solid #a3a3a3;">

                <div class="col-lg-4 text-lg-left text-sm-center mb-sm-4">
                    <img src="{{ '/assets/img/harkness.jpg' | relative_url }}" class="img-fluid ml-4 mt-4" alt="" />
                </div>
                <div class="col-lg-8">
                    <div class=" ml-sm-4 ml-xl-0">
                        <h2 class="text-primary">Campus Access</h2>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin.</p>
                        <ul class="list-unstyled">
                            <li>
                                <a class="text-primary" href="">Campus Map</a>
                            </li>
                            <li>
                                <a class="text-primary" href="">Visitor Center</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="row p-4" style="border-top: 1px solid #a3a3a3;">

                <div class="col">
                    <h2 class="text-primary">Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam viverra libero nisl, in
                        lobortis dolor
                        semper eget. Duis tincidunt bibendum dui quis commodo. </p>
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-primary" href="">Lorem Ipsum Resources</a>
                        </li>
                    </ul>

                </div>
                <div class="col" style="border-left: 1px solid #a3a3a3;">
                    <h2 class="text-primary">Connect with Others</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam viverra libero nisl, in
                        lobortis dolor semper eget. Duis tincidunt bibendum dui quis commodo. </p>
                    <ul class="list-unstyled">

                        <li><a class="text-primary" href="">
                                Affinity Groups
                            </a></li>
                        <li><a class="text-primary" href="">
                                Student Organizations
                            </a></li>
                    </ul>

                </div>
            </div>
            <div class="row p-4" style="border-top: 1px solid #a3a3a3;">

                <h2 class="text-primary">Contact Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam viverra libero nisl, in lobortis
                    dolor semper eget. Duis tincidunt bibendum dui quis commodo. </p>
                <ul class="list-unstyled">

                    <li>
                        <a class="text-primary" href="">Email the Director</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</main>
<div>
    <footer class="container pt-4 pb-4 bg-yale">
        <div style="display: grid; grid-template-columns: 80px auto;">
            <div style="padding-top: 10px;">
                <a href="https://www.yale.edu/">
                    <span class="sr-only">Yale</span>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="65px"
                        height="55px">
                        <defs>
                            <symbol id="yale-logo">
                                <path
                                    d="M19.5,7.4l-5.9,10v6.7c0.7,1.6,2.4,1.8,4.1,1.9V27H6v-0.9c1.7-0.1,3.7-0.3,4.2-1.4v-6.9l-6-10.2C3.1,5.8,2.1,5.2,0.1,5V4.1   h10.1V5C8.3,5.2,7.7,5.5,7.2,5.9l5.6,9.7L18.3,6C17.7,5.5,16.9,5.2,15,5V4.1h8.6V5C21.7,5.1,20.5,5.8,19.5,7.4z M31.3,27.3   c-1.9,0-2.9-1.3-3-2.3c-1.2,1.3-2.8,2.3-4.3,2.3c-1.9,0-3.6-1.2-3.6-3.2c0-1,0.3-2.1,0.8-2.9l7.2-2.6v-2.7c0-1.6-0.8-3.2-2.4-3.2   c-1,0-1.9,1.2-2,3l-3.2,0.5V16c1.1-3.2,4.6-4.5,6.4-4.5c3.3,0,4.5,1.7,4.4,4.4l-0.1,7.6c0,1.5,0.8,1.8,1.5,1.8c0.6,0,1.2-0.4,1.8-1   v1C34,26.2,32.6,27.3,31.3,27.3z M24.1,21.5c-0.1,0.6-0.3,1.1-0.3,1.9c0,1.1,0.6,2.2,1.8,2.2c1.1,0,1.7-0.4,2.7-1.1l0-4.9   C27.4,19.9,25.1,21,24.1,21.5z M35.1,27v-0.8c1.6-0.1,2.1-0.5,2.4-1.1V6.4c0-1.2-0.2-1.7-2.7-1.9V3.8l6.6-1.7l0.2,0.6l-1,1.3v21.1   c0.4,0.7,1,1,2.5,1.1V27H35.1z M51.7,27.3c-3.8,0-6.7-3-6.7-7.2c0-5.1,3.1-8.6,7.6-8.6c3.6,0,5.5,2,5.5,5.2v0.6l-9.7-0.1   c-0.1,0.4-0.1,1-0.1,1.8c0,3.7,2.3,6.1,5.4,6.1c1.8,0,2.8-0.6,4.2-1.9l0.5,0.8C56.4,26.1,54.7,27.3,51.7,27.3z M52,12.6   c-1.8,0-3.1,1.4-3.5,3.7l6.3-0.1C54.9,14.4,53.7,12.6,52,12.6z">
                                </path>
                            </symbol>
                        </defs>

                        <use xlink:href="#yale-logo" x="0" y="0" fill="#ffffff"></use>
                    </svg></a>
            </div>
            <div style="padding: 10px 20px;"><a href="https://www.yale.edu/privacy-policy">Privacy Policy</a> · <a
                    href="https://usability.yale.edu/web-accessibility/accessibility-yale">Accessibility at
                    Yale</a><br>
                <div>Copyright © 2020 Yale University · All rights reserved</div>
            </div>
        </div>
    </footer>
</div>